.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 6.5em;
	height: 6.5em;
	background-size: cover;
	background-image: url("/images/doge.png");
}



.Player-wings {
	position:absolute;
	left: -35%;
	bottom: 15%;
	height: 2em;
	width: 3.5em;

	background: cover;
	background-image: url("/images/wing.ico");
	-webkit-transform-origin: top left;
	animation: 0.4s flap alternate infinite;
}

.Player-wings-extra {
	position:absolute;
	left: -35%;
	bottom: 15%;
	height: 2em;
	width: 3.5em;

	background: cover;
	background-image: url("/images/wing.ico");
	-webkit-transform-origin: top left;
	animation: 0.1s flap alternate infinite;
}

.Ground1 {
	position: absolute;
	width: 122em;
	height: 5.6em;
	bottom: 0;
	background-image: url('/images/ground.png');
	z-index: 1;
}
.Ground2 {
	position: absolute;
	width: 122em;
	height: 5.6em;
	bottom: 0;
	background-image: url('/images/ground.png');
	z-index: 1;
}

.mute{
	position: absolute;
	font-size: 20pt;
	margin-left: 5px;
	margin-top: 5px;
	width: auto;
}
#Score{
	margin-top: 1em;
	font-size: 24pt;
	color: white;
}

#highScore{
	margin-top: 1em;
	font-size: 24pt;
	color: white;
}

.Background1 {
	position: absolute;
	width: 142em;
	height: 57.6em;
	background-image: url('/images/background.png');

}
.Background2 {
	position: absolute;
	width: 142em;
	height: 57.6em;
	background-image: url('/images/background.png');
}



.Pipe0 {
	position: absolute;
	top: 0;
	right: 0;
	width: 7em;
	background-image: url("/images/pip.png");
	background-size: cover;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.Pipe1 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 7em;
	background-image: url("/images/pip.png");
	background-size: cover;
}
.Pipe2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 7em;
	background-image: url("/images/pip.png");
	background-size: cover;
}

.Pipe3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7em;
  background-image: url("/images/pip.png");
	background-size: cover;
}

.Pipe4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 7em;
  background-image: url("/images/pip.png");
	background-size: cover;
}

.Pipe5 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7em;
  background-image: url("/images/pip.png");
	background-size: cover;
}

@keyframes flap {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(130deg);
	}
}
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 5em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;

}
